@use "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; }

.custom-rounded {
    border-radius: 0.5rem 2rem 2rem 0.5rem;
  }
  
  
.custom-rounded2 {
    border-radius: 2rem 0.5rem 0.5rem 2rem;
  }
  
  .custom-rounded3 {
    border-radius: 0rem 0rem 2rem 2rem;
  }

  .custom-rounded4 {
    border-radius: 0.5rem 0.5rem 0.5rem 2rem;
  }

  .custom-rounded5 {
    border-radius: 0.5rem 0.5rem 2rem 0.5rem;
  }



  .ghost-button{
    background-color: white;
    border: 1px solid #155dfc;
    color: #155dfc;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #6e11b0;
      color: white;
      border: 1px solid #6e11b0;
    
    }
  }

  .blue-button{
    background-color: white;
    border: 1px solid #155dfc;
    color: #155dfc;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #155dfc;
      color: white;
      border: 1px solid #155dfc;
    }
  }

    .fill-button{
    background-color: #155dfc;
    border: 1px solid #155dfc;
    color: white;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #6e11b0;
      color: white;
      border: 1px solid #6e11b0;
    
    }
  }

  .custom-input {
    border: 1px solid #c8c8c8;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #c130ff;
      outline: none;
    }
  }


  
/* From Uiverse.io by abrahamcalsin */ 
.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 1s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
