.animate-slide-right-to-left {
    animation: slide-right-to-left 0.6s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
  
  @keyframes slide-right-to-left {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    80% {
      transform: translateX(-30px);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
    }
  }

  .custom-bold {
    font-weight: 900;        
    letter-spacing: 0px;   
    color: #444;            
  }
  .custom-light {
    font-weight: 400;        
    letter-spacing: 0px;   
    color: #555;            
  }
  .menu{
    font-size: 16px;
    cursor: pointer;
    color: #333;
    font-weight: 400;
    &:hover {
      background-color: #f7f7f7; 
      color: #7c3aed;           
    }
  }


    .nav-ghost-button{
    background-color: white;
    color: #155dfc;
    opacity: 90%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #6e11b0;
      opacity: 100%;
    
    }
  }

  
    .nav-ghost-button-active{
    background-color: white;
    border-bottom: 2px solid #6e11b0;
    color: #6e11b0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #155dfc;
    
    }
  }

    .nav-ghost-button-signup{
    background-color: #000;
    color: white;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #6e11b0;
    
    }
  }


