<div class="w-full flex items-center justify-center">
  <div
    class="p-2 w-[80%] my-4 border border-gray-200 rounded-full shadow-sm flex items-center justify-between bg-white">
    <div class="flex gap-2 items-center cursor-pointer" (click)="goToHome()">
      <img src="brush.svg" alt="Logo" class="h-10 rounded-full" />
      <div class="flex flex-col leading-tight">
        <h1 class="text-xl font-extrabold text-[#333] tracking-wider">
          TBI Studio
        </h1>
        <p class="text-[10px] font-medium text-purple-800 pl-1">
          Text Behind Image
        </p>
      </div>
    </div>

    <div class="flex gap-3 items-center ">
      <button (click)="goToHome()" [ngClass]="{
          'nav-ghost-button-active': route.url === '/home',
          'nav-ghost-button': route.url !== '/home'
        }" class="  text-[16px]   font-semibold px-2 py-1  cursor-pointer transition-all">
        Home
      </button>

      <button (click)="navigateToAboutUs()" [ngClass]="{
          'nav-ghost-button-active': route.url === '/about-us',
          'nav-ghost-button':
            route.url !== '/about-us'
        }" class="  text-[16px]  font-semibold px-2 py-1  cursor-pointer  transition-all">
        About Us
      </button>

      <button (click)="navigateToAboutUs()" [ngClass]="{
                'nav-ghost-button-active': route.url === '/about-us',
                'nav-ghost-button':
                  route.url !== '/about-us'
              }" class="  text-[16px]  font-semibold px-2 py-1  cursor-pointer  transition-all">
        Subscription
      </button>

      <button (click)="navigateToGallery()" [ngClass]="{
                'nav-ghost-button-active': route.url === '/text-behind-image/image-storage',
                'nav-ghost-button':
                  route.url !== '/text-behind-image/image-storage',
                  'mr-28': isLoggedIn()
              }"
        class="  text-[16px] font-semibold px-2 py-1  cursor-pointer  transition-all">
        Gallery
      </button>

      



      @if(!isLoggedIn()){
      <button (click)="goToLogin()"
        class="rounded-full bg-[#000] text-white text-[16px] mr-1 font-semibold px-4 py-1.5  cursor-pointer hover:animate-pulse transition-all">
        Sign Up
      </button>
      }@else{
      <button (click)="openProfile()"
        class="profile-button flex items-center p-1 bg-purple-700 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.09] cursor-pointer">
        <!-- Profile image -->
        <img *ngIf="!showFallback && userImg" [src]="userImg" (error)="onImgError()" alt="User"
          class="h-8 w-8 rounded-full transition-all duration-400 ease-in-out transform hover:scale-[1.07]" />

        <!-- Fallback first letter -->
        <span *ngIf="showFallback || !userImg"
          class="text-white font-bold text-2xl select-none bg-purple-500 rounded-full h-8 w-8 flex items-center justify-center transition-all duration-400 ease-in-out transform hover:scale-[1.07]">
          {{ (userName && userName.charAt(0).toUpperCase()) || "?" }}
        </span>
      </button>
      }
    </div>

  </div>
</div>
@if(profileOpen()){
<div [ngClass]="{
    'animate-slide-right-to-left': profileOpen(),
    'animate-slide-left-to-right': !profileOpen(),
    'top-21 right-38': !isCollapsed,
    'top-22 right-30': isCollapsed
  }" class="profile-dropdown absolute w-auto bg-white shadow-lg border border-[#c8c8c8] rounded-lg p-4">
  <!-- profile edi open -->
  @if(profilePopUpOpen()){
  <div [@expandCollapse]="profilePopUpOpen() ? 'expanded' : 'collapsed'" class="flex flex-col p-1 min-w-[600px]">
    <div class="flex items-center mb-6 w-full">
      <div class="p-1 bg-purple-200 rounded-full mr-5 cursor-pointer h-30 w-30 flex items-center justify-center">
        <!-- Profile image -->
        <img *ngIf="!showFallback && userImg" [src]="userImg" (error)="onImgError()" alt="User"
          class="h-full w-full object-cover rounded-full" />

        <!-- Fallback first letter -->
        <span *ngIf="showFallback || !userImg"
          class="text-white font-bold text-8xl select-none bg-purple-500 rounded-full h-full w-full flex items-center justify-center">
          {{ (userName && userName.charAt(0).toUpperCase()) || "?" }}
        </span>
      </div>

      <div class="flex flex-col">
        <div class="">
          <input matInput [(ngModel)]="userName"
            class="w-[470px] p-2 px-4 border border-gray-400 rounded-md mb-3 custom-bold tracking-tight text-[24px] focus:outline-none focus:border-purple-400 focus:ring-1 focus:ring-purple-300" />

          <img src="edit.svg" alt="Edit" class="h-8 w-auto bg-white rounded-full absolute top-8 right-7" />
        </div>

        <div class="">
          <h1
            class="w-[470px] p-3.5 px-4 bg-gray-100 border border-gray-400 rounded-md mb-3 custom-bold tracking-tight text-[14px] focus:outline-none focus:border-purple-400 focus:ring-1 focus:ring-purple-300">
            {{ userEmail }}
          </h1>
        </div>
        <div class="">
          <h1
            class="w-[470px] p-3.5 px-4 bg-gray-100 border border-gray-400 rounded-md mb-3 custom-bold tracking-tight text-[14px] focus:outline-none focus:border-purple-400 focus:ring-1 focus:ring-purple-300">
            Role: {{ userrole | titlecase }}
          </h1>
        </div>
      </div>
    </div>
    <div class="flex flex-col ml-37 mb-10">
      <p class="custom-light text-[13.5px]">Joined : {{ creationTime }}</p>
      <p class="custom-light text-[13.5px]">
        Last Login : {{ lastSignInTime }}
      </p>
    </div>
    <div class="flex items-center justify-between p-2 min-w-[600px] border border-gray-300 bg-gray-50 rounded-lg">
      <button (click)="openProfilePopUp()"
        class="flex cursor-pointer border border-gray-500 hover:border-gray-600 text-[#555] pr-5 pl-4 py-1.5 rounded-md hover:bg-gray-300 text-sm transition-all">
        <img src="cross.svg" alt="Close" class="h-5 w-5 mr-1" />
        Cancel
      </button>
      <button (click)="saveProfile()"
        class="flex cursor-pointer border border-gray-500 hover:border-green-600 text-[#555] hover:text-white pr-5 pl-4 py-1.5 rounded-md hover:bg-green-400 text-sm transition-all">
        <img src="check.svg" alt="Save" class="h-5 w-5 mr-2" />
        Save
      </button>
    </div>
  </div>
  }
  <!-- profile edit close -->

  @if(!profilePopUpOpen()){
  <div class="flex items-center mb-4">
    <div class="p-1 bg-purple-200 rounded-full mr-5 cursor-pointer h-20 w-20 flex items-center justify-center">
      <!-- Profile image -->
      <img *ngIf="!showFallback && userImg" [src]="userImg" (error)="onImgError()" alt="User"
        class="h-full w-full object-cover rounded-full" />

      <!-- Fallback first letter -->
      <span *ngIf="showFallback || !userImg"
        class="text-white font-bold text-7xl select-none bg-purple-500 rounded-full h-full w-full flex items-center justify-center">
        {{ (userName && userName.charAt(0).toUpperCase()) || "?" }}
      </span>
    </div>
    <div class="flex flex-col">
      <h2 class="text-[24px] custom-bold tracking-tight">{{ userName }}</h2>
      <h2 class="text-[14px] font-semibold text-[#444]">{{ userEmail }}</h2>
      <h2 class="text-[14px] font-semibold text-purple-600 mt-1">Role: {{ userrole | titlecase }}</h2>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <p class="custom-light text-[13.5px]">Joined : {{ creationTime }}</p>
    <p class="custom-light text-[13.5px] mb-8">
      Last Login : {{ lastSignInTime }}
    </p>
  </div>
  <div class="flex items-center justify-between p-2 min-w-[400px] border border-gray-300 bg-gray-100 rounded-lg">
    <button (click)="openProfilePopUp()"
      class="flex cursor-pointer border border-gray-500 hover:border-green-600 text-[#555] hover:text-white pr-5 pl-4 py-1.5 rounded-md hover:bg-green-400 text-sm transition-all">
      <img src="edit2.svg" alt="Edit" class="h-5 w-5 mr-2" />
      Edit
    </button>
    <button (click)="logout()"
      class="flex cursor-pointer border border-gray-500 hover:border-red-600 text-[#555] hover:text-white px-6 py-1.5 rounded-md hover:bg-red-400 text-sm transition-all">
      <img src="logout.svg" alt="Logout" class="h-5 w-5 mr-2" />
      Logout
    </button>
  </div>

  }
</div>

}