@if (showLoginPopup) {
<div class="fixed inset-0 bg-black/20 z-600 flex items-center justify-center">
  <div class="bg-white border border-gray-200 rounded-xl shadow-lg p-8 max-w-lg w-full mx-4 relative">
    <!-- Close button -->
    <button (click)="closeLoginPopup()"
      class="absolute top-4 right-4 bg-gray-50 hover:bg-gray-200 cursor-pointer p-2 rounded-full">
      <img src="cross.svg" alt="close" class="w-5 h-5" />
    </button>

    <!-- Popup content -->
    <div class="flex flex-col items-center text-center">
      <img src="login-popup.svg" alt="login required" class="w-32 h-32 mb-6 ml-8" />
      <h2 class="text-2xl font-bold text-[#444] mb-2">Sign in Required</h2>
      <p class="text-gray-600 mb-4">
        Sign in to unlock all features and benefits of TBI Studio
      </p>

      <div class="flex justify-between w-full mx-57 relative mb-14">
        <div
          class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-3 h-3 rounded-full z-10">
          <div class="w-1 h-1 bg-white rounded-full"></div>
        </div>
        <div
          class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-3 h-3 rounded-full z-10">
          <div class="w-1 h-1 bg-white rounded-full"></div>
        </div>
        <div
          class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-3 h-3 rounded-full z-10">
          <div class="w-1 h-1 bg-white rounded-full"></div>
        </div>
        <div
          class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-3 h-3 rounded-full z-10">
          <div class="w-1 h-1 bg-white rounded-full"></div>
        </div>
        <div
          class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-3 h-3 rounded-full z-10">
          <div class="w-1 h-1 bg-white rounded-full"></div>
        </div>
        <div
          class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-3 h-3 rounded-full z-10">
          <div class="w-1 h-1 bg-white rounded-full"></div>
        </div>

        <div class="py-[0.9px] rounded-full bg-purple-700 w-full absolute z-1 top-[5px]"></div>
      </div>

      <!-- Action buttons -->
      <div class="flex flex-col w-full gap-3">
        <button (click)="navigateToLogin()" class="w-full py-3 px-4 fill-button">
          Sign In
        </button>
        <button (click)="navigateToRegister()" class="w-full py-3 px-4 ghost-button">
          Create Account
        </button>
      </div>

      <p class="text-[#555] text-sm mt-5">
        *No spam email, promise! Just sign in and start using all the features.
      </p>
    </div>
  </div>
</div>
}

@if(showCreditExhaustedPopup) {
<div class="fixed inset-0 bg-black/50 z-600 flex items-center justify-center p-4">
<app-subscription ></app-subscription>
</div>
}


<div class="container mx-auto p-4 sm:p-6 lg:p-8 mt-[80px]">


  <div class="flex flex-col items-center justify-center w-full my-8">
    <div
      class="mx-[40px] mt-[100px] absolute inset-0 z-0 bg-[linear-gradient(to_right,theme(colors.gray.600)_2px,transparent_1px),linear-gradient(to_bottom,theme(colors.gray.600)_2px,transparent_1.5px)] bg-[size:2rem_2rem] opacity-5 [mask-image:radial-gradient(ellipse_at_center,black_60%,transparent_100%)] ">
    </div>
    <h1
      class="text-[36px] font-extrabold tracking-wider drop-shadow-[2px_2.5px_0px_#888] text-[#444] flex items-center gap-4">
      The Cool "Text Behind You" Trick
      <button (click)="scrollToHowToUse()" class="px-4 py-2 flex text-[19px] items-center ghost-button shadow-md">
        How to Use
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
          class="w-4 h-4 ml-2 mt-1 animate-bounce">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0L4.5 13.5M12 21V3" />
        </svg>
      </button>
    </h1>
    <p class="text-sm text-[#888] font-mono mt-2 text-center">
      You know those cool pictures where words are hiding behind a person? Now
      you can make them in seconds. <br />Just upload a photo, and we'll do the
      magic for you.
    </p>
  </div>

  <div class="flex flex-col items-center justify-center w-full pb-4 ">
    <div class="overflow-hidden w-full">
      <div class="scroll-track-left flex gap-6 px-4">
        <ng-container *ngFor="let card of featureCardsSecond">
          <div
            class="feature-card flex flex-row items-center p-2 my-2 shadow-md rounded-lg bg-white gap-4 max-w-[560px] border border-gray-200">
            <img [src]="card.icon" alt="icon" class="w-auto h-8" />
            <div class="flex flex-col items-start">
              <p class="text-sm font-medium text-[#333] leading-relaxed tracking-wider">
                {{ card.title }}
              </p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngFor="let card of featureCardsSecond">
          <div
            class="feature-card flex flex-row items-center p-2 my-2 shadow-md rounded-lg bg-white gap-4 max-w-[560px] border border-gray-200">
            <img [src]="card.icon" alt="icon" class="w-auto h-8" />
            <div class="flex flex-col items-start">
              <p class="text-sm font-medium text-[#333] leading-relaxed tracking-wider">
                {{ card.title }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>



  <div class="flex flex-col items-start justify-center lg:flex-row  gap-8 mt-4 mx-auto relative" [ngClass]="{
        'lg:w-[70%]': !isImageUploaded,
        'lg:w-[80%] w-[90%]': isImageUploaded
      }">
    <!-- Preview Wrapper -->

    @if (!isLoggedIn()) {
    <div class="absolute top-0.5 right-0.5 z-30">
      <h1
        class="text-[16px] font-thin text-[#666] bg-white/20 p-2.5 px-6 rounded-tr-2xl bg-gradient-to-r from-white to-red-200">
        Sign In Required
      </h1>
    </div>
    }
    <div id="previewWrapper"
      class="bg-white rounded-2xl border border-[#c8c8c8] h-fit flex flex-col items-center justify-center z-10"
      [ngClass]="isImageUploaded ? 'lg:w-[50%] w-[100%]' : 'w-full'" (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <div
        class="bg-white border-b border-[#c8c8c8] text-[#333] rounded-t-2xl p-1.5 flex items-center w-full justify-between">
        @if(isImageUploaded) {
        <div class="flex items-center gap-2">
          <input type="text" [(ngModel)]="fileName" placeholder="Cool TBI"
            class="custom-input rounded-lg !text-[#777] py-[4px] px-4 !text-[12px]" />
          <div class="flex items-center gap-2 text-sm font-medium">
            <div class="relative inline-block" #downloadDropdown>
              <button (click)="isDropdownOpen = !isDropdownOpen"
                class="blue-button !rounded-lg flex items-center gap-1 py-[4px] px-4 !text-[12px] cursor-pointer"
                type="button">
                Download
                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
                </svg>
              </button>
              <div [class.hidden]="!isDropdownOpen"
                class="absolute right-0 mt-2 z-10 bg-white border border-[#c8c8c8] rounded-lg shadow-sm w-full">
                <ul class="text-[#333]">
                  <li>
                    <button (click)="downloadFormat = 'jpg'; downloadImage(); isDropdownOpen = false"
                      class="w-full text-center px-4 text-[14px] py-1.5 hover:bg-[#f7f7f7] cursor-pointer border-b border-[#c8c8c8] rounded-t-lg">
                      JPG
                    </button>
                  </li>
                  <li>
                    <button (click)="downloadFormat = 'png'; downloadImage(); isDropdownOpen = false"
                      class="w-full text-center px-4 py-1.5 hover:bg-[#f7f7f7] text-[14px] cursor-pointer rounded-b-lg">
                      PNG
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <button class="!rounded-lg font-medium blue-button py-[4px] px-4 !text-[12px]" (click)="saveImage()">
              Save
            </button>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <button (click)="discardImage()"
            class="text-[#444] text-sm font-medium p-[4px] cursor-pointer rounded-lg border border-[#c8c8c8] hover:bg-gray-200">
            <img src="cross.svg" alt="Discard" class="w-4 h-4" />
          </button>
        </div>
        } @else {
        <button
          class="flex items-center gap-2 border border-[#c8c8c8] px-2 py-1 rounded-lg text-sm text-[#666] hover:bg-slate-50 cursor-pointer transition-colors">
          <img src="gallery.svg" alt="Gallery" class="w-6 h-6" /> Upload Saved Image
        </button>
        }
      </div>

      <!-- Dropzone / Image Preview Area -->
      @if (!isImageUploaded) {
      <div class="w-full h-full min-h-[500px] flex items-center justify-center">
        <div
          class="dropzone w-full h-full flex flex-col items-center justify-center p-8 rounded-lg text-center transition-colors"
          [ngClass]="{ dragging: isDragging }">
          <img src="gallery.svg" alt="Upload" class="w-[100px] h-[100px]  opacity-50" />
          <p class="text-[#666] font-semibold ">Drag & Drop your image here</p>
          <div class="flex items-center my-4 w-xl">
            <div class="flex-grow h-1px border border-dashed border-[#c8c8c8]"></div>
            <span class="px-2 text-xs text-[#666]">or</span>
            <div class="flex-grow h-1px border border-dashed border-[#c8c8c8]"></div>
          </div>
          <button (click)="triggerFileInput()"
            [disabled]="!cloudName || !uploadPreset || cloudName === 'YOUR_CLOUD_NAME'"
            class="font-bold text-[16px] py-2.5 px-8 ghost-button transition-colors disabled:opacity-50 disabled:cursor-not-allowed">
            Upload a Image
          </button>
          <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" class="hidden" />
        </div>
      </div>
      } @else {
      <div id="previewContainer" class="relative w-[99%] overflow-hidden !rounded-b-lg"
        [style.aspect-ratio]="aspectRatioSelection === 'original' ? originalImageAspectRatio : aspectRatioSelection">
        @if (isLoading || isEffectLoading || messageText) {
        <div
          class="absolute w-full h-full left-0 -top-1 z-40  flex flex-col items-center justify-center bg-white/80 backdrop-blur-sm text-slate-700 p-8 text-center rounded-b-lg">
          @if (isLoading || isEffectLoading) { <div class="loader"></div> }
          @if (messageText) { <p class="mt-4 font-semibold">{{ messageText }}</p> }
        </div>
        }

        <img id="backgroundImage" [src]="safeBackgroundImage!" alt="Background"
          class="absolute -top-1 left-0 w-full h-full object-cover !rounded-b-xl" [style.filter]="backgroundCssFilters"
          (load)="onImageLoad()" (error)="onImageLoad()" />

        <div id="textOverlay" class="absolute -top-1 left-0 w-full h-full pointer-events-none !rounded-b-xl">
          <div *ngFor="let layer of textLayers" [textContent]="layer.text" [style.position]="'absolute'"
            [style.white-space]="'nowrap'" [style.text-align]="layer.align" [style.font-size.px]="layer.fontSize"
            [style.color]="layer.color" [style.font-family]="layer.fontFamily" [style.opacity]="layer.opacity / 100"
            [style.font-weight]="layer.isBold ? '900' : '400'" [style.font-style]="layer.isItalic ? 'italic' : 'normal'"
            [style.text-decoration]="layer.isUnderlined ? 'underline' : 'none'" [style.left.%]="layer.hPos"
            [style.top.%]="layer.vPos"
            [style.transform]="'translate(' + (layer.align === 'center' ? '-50%' : layer.align === 'right' ? '-100%' : '0%') + ', -50%) rotate(' + layer.rotation + 'deg)'">
          </div>
        </div>
        <img id="foregroundImage" [src]="safeForegroundImage!" alt="Foreground"
          class="absolute -top-1 left-0 w-full h-full object-cover pointer-events-none !rounded-b-xl"
          (load)="onImageLoad()" (error)="onImageLoad()" />
      </div>
      }
    </div>

    <!-- Control Panel -->
    @if (isImageUploaded) {
    <div class="bg-white p-2.5 rounded-2xl z-10 h-fit border border-[#c8c8c8] flex flex-col lg:w-[30%]">
      <div>
        <div class="mb-3">
          <div class="flex rounded-lg border border-[#c8c8c8] p-0.5">
            <button (click)="activeTab = 'text'" [ngClass]="{ active: activeTab === 'text' }"
              class="tab-btn flex-1 p-1.5 text-[14px] font-semibold rounded-md cursor-pointer">Text</button>
            <button (click)="activeTab = 'image'" [ngClass]="{ active: activeTab === 'image' }"
              class="tab-btn flex-1 p-1.5 text-[14px] font-semibold rounded-md cursor-pointer">Effects</button>
            <button (click)="activeTab = 'settings'" [ngClass]="{ active: activeTab === 'settings' }"
              class="tab-btn flex-1 p-1.5 text-[14px] font-semibold rounded-md cursor-pointer">Tools</button>
          </div>
        </div>

        <!-- Text Tab -->
        <div id="textTab" *ngIf="activeTab === 'text'">
          <button (click)="addTextLayer()" [disabled]="!isImageUploaded"
            class="w-full bg-[#333] text-white text-[14px] font-semibold py-2 cursor-pointer px-4 rounded-lg hover:bg-[#444] transition-colors mb-2 disabled:opacity-50 disabled:cursor-not-allowed">
            Add New Text
          </button>
          <div id="textLayerList" class="flex flex-col gap-y-2 mb-4 max-h-40 overflow-y-auto">
            <div *ngFor="let layer of textLayers" (click)="selectTextLayer(layer.id)"
              class="layer-item flex items-center justify-between p-1.5 border border-[#c8c8c8] rounded-lg"
              [ngClass]="{ active: layer.id === activeLayerId }">
              <span class="truncate text-sm">{{ layer.text }}</span>
              <button (click)="deleteTextLayer(layer.id, $event)"
                class="ml-2 hover:bg-[#F3F3F3] cursor-pointer rounded-lg">
                <img src="delete.svg" alt="delete" class="w-4.5 h-4.5" />
              </button>
            </div>
          </div>
          @if (activeLayer) {
          <div class="flex flex-col gap-3">
            <div>
              <label class="block text-sm font-medium text-[#666] mb-0.5">Layer Text</label>
              <textarea [(ngModel)]="activeLayer.text" rows="1"
                class="w-full bg-[#F7F7F7] border border-[#c8c8c8] rounded-lg px-3 py-2 text-[14px] text-[#333] focus:ring-none focus:border-[#333] focus:outline-none transition"></textarea>
            </div>
            <div class="flex gap-2 control-btn-group">
              <button (click)="activeLayer.align = 'left'" [ngClass]="{ active: activeLayer.align === 'left' }"
                class="flex-1 p-1.5 font-medium text-xs border border-[#c8c8c8] rounded-lg cursor-pointer">Left</button>
              <button (click)="activeLayer.align = 'center'" [ngClass]="{ active: activeLayer.align === 'center' }"
                class="flex-1 p-1.5 font-medium text-xs border border-[#c8c8c8] rounded-lg cursor-pointer">Center</button>
              <button (click)="activeLayer.align = 'right'" [ngClass]="{ active: activeLayer.align === 'right' }"
                class="flex-1 p-1.5 font-medium text-xs border border-[#c8c8c8] rounded-lg cursor-pointer">Right</button>
              <button (click)="activeLayer.isBold = !activeLayer.isBold" [ngClass]="{ active: activeLayer.isBold }"
                class="flex-1 p-1.5 font-bold border border-[#c8c8c8] rounded-lg cursor-pointer">B</button>
              <button (click)="activeLayer.isItalic = !activeLayer.isItalic"
                [ngClass]="{ active: activeLayer.isItalic }"
                class="flex-1 p-1.5 italic border border-[#c8c8c8] rounded-lg cursor-pointer">I</button>
              <button (click)="activeLayer.isUnderlined = !activeLayer.isUnderlined"
                [ngClass]="{ active: activeLayer.isUnderlined }"
                class="flex-1 p-1.5 underline border border-[#c8c8c8] rounded-lg cursor-pointer">U</button>
            </div>
            <div>
              <select [(ngModel)]="activeLayer.fontFamily"
                class="w-full bg-[#F7F7F7] border border-[#c8c8c8] rounded-lg px-3 py-1.5 text-[14px] cursor-pointer text-[#333] focus:border-[#333] focus:outline-none transition">
                <option *ngFor="let font of filteredFonts" [value]="font.value">
                  <span class="!font-medium !text-[#555]">Font Family :</span> {{ font.name }}
                </option>
                <option *ngIf="filteredFonts.length === 0" disabled>No fonts found</option>
              </select>
            </div>
            <div class="flex gap-2 w-full mt-1">
              <div class="w-[50%]">
                <label class="block text-sm font-medium text-[#666] mb-0.5">Font Size : <span>{{ activeLayer.fontSize
                    }}</span>px</label>
                <input type="number" min="10" max="500" [(ngModel)]="activeLayer.fontSize"
                  class="w-full px-4 py-1.5 text-[14px] bg-[#F7F7F7] border border-[#c8c8c8] rounded-lg appearance-none cursor-pointer " />
              </div>
              <div class="w-[50%]">
                <label class="block text-sm font-medium text-[#666] mb-0.5">Opacity : <span>{{ activeLayer.opacity
                    }}</span>%</label>
                <input type="number" min="0" max="100" [(ngModel)]="activeLayer.opacity"
                  class="w-full px-4 py-1.5 text-[14px] bg-[#F7F7F7] border border-[#c8c8c8] rounded-lg appearance-none cursor-pointer " />
              </div>
            </div>
            <div class="flex gap-2 w-full mt-1">
              <div class="w-[50%]">
                <label class="block text-sm font-medium text-[#666] mb-0.5">Vertical Pos : <span>{{ activeLayer.vPos
                    }}</span>%</label>
                <input type="number" min="0" max="100" [(ngModel)]="activeLayer.vPos"
                  class="w-full px-4 py-1.5 text-[14px] bg-[#F7F7F7] border border-[#c8c8c8] rounded-lg appearance-none cursor-pointer " />
              </div>
              <div class="w-[50%]">
                <label class="block text-sm font-medium text-[#666] mb-0.5">Horizontal Pos : <span>{{ activeLayer.hPos
                    }}</span>%</label>
                <input type="number" min="0" max="100" [(ngModel)]="activeLayer.hPos"
                  class="w-full px-4 py-1.5 text-[14px] bg-[#F7F7F7] border border-[#c8c8c8] rounded-lg appearance-none cursor-pointer " />
              </div>
            </div>
            <div>
              <label class="block text-sm font-medium text-[#666] ">Rotation : <span>{{ activeLayer.rotation
                  }}</span>°</label>
              <input type="range" min="-90" max="90" [(ngModel)]="activeLayer.rotation"
                class="w-full h-1.5 bg-[#555] rounded-lg appearance-none cursor-pointer accent-[#222]" />
            </div>
            <div class="flex items-center justify-between pt-1">
              <label class="text-sm font-medium text-[#666]">Text Color</label>
              <input type="color" [(ngModel)]="activeLayer.color"
                class="w-10 h-10 p-0 border-0 rounded-md cursor-pointer bg-white" />
            </div>
          </div>
          }
        </div>

        <!-- Effects Tab -->
        <div id="imageTab" *ngIf="activeTab === 'image'" class="flex flex-col gap-y-5">
          @if (isImageUploaded) {
          <!-- Stylized Cloudinary Effects -->
          <div>
            <h3 class="text-[15px] font-medium text-[#333] mb-3">Stylized Effects (Background Only)</h3>
            <div class="flex flex-col gap-3">
              <!-- Effect Buttons -->
              <div class="grid grid-cols-3 gap-2 control-btn-group">
                @for (effect of allCloudinaryEffects; track effect.name) {
                <button (click)="applyCloudinaryEffect(effect)"
                  [ngClass]="{ active: effect.name === selectedEffect?.name }"
                  class="p-2 font-medium text-xs border border-[#c8c8c8] rounded-lg cursor-pointer">
                  {{ effect.name }}
                </button>
                }
              </div>

              <!-- Intensity Slider -->
              @if (selectedEffect && selectedEffect.hasIntensity) {
              <div>
                <label class="block text-sm font-medium text-[#666]">Intensity: <span>{{ effectIntensity
                    }}</span></label>
                <input type="range" [min]="selectedEffect.min" [max]="selectedEffect.max" [(ngModel)]="effectIntensity"
                  (ngModelChange)="onIntensityChange()"
                  class="w-full h-1.5 bg-[#555] rounded-lg appearance-none cursor-pointer accent-[#222]" />
              </div>
              }
            </div>
          </div>
          <!-- Fine-tune CSS Adjustments -->
          <div>
            <h3 class="text-[15px] font-medium text-[#333] mb-3">Fine-tune Adjustments (Background Only)</h3>
            <div class="flex flex-col gap-4">
              <div>
                <label class="block text-sm font-medium text-[#666]">Brightness: <span>{{ brightness }}</span>%</label>
                <input type="range" min="0" max="200" [(ngModel)]="brightness"
                  class="w-full h-1.5 bg-[#555] rounded-lg appearance-none cursor-pointer accent-[#222]" />
              </div>
              <div>
                <label class="block text-sm font-medium text-[#666]">Contrast: <span>{{ contrast }}</span>%</label>
                <input type="range" min="0" max="200" [(ngModel)]="contrast"
                  class="w-full h-1.5 bg-[#555] rounded-lg appearance-none cursor-pointer accent-[#222]" />
              </div>
              <div>
                <label class="block text-sm font-medium text-[#666]">Blur: <span>{{ blur }}</span>px</label>
                <input type="range" min="0" max="20" [(ngModel)]="blur"
                  class="w-full h-1.5 bg-[#555] rounded-lg appearance-none cursor-pointer accent-[#222]" />
              </div>
              <div>
                <label class="block text-sm font-medium text-[#666]">HDR: <span>{{ hdr }}</span>%</label>
                <input type="range" min="0" max="100" [(ngModel)]="hdr"
                  class="w-full h-1.5 bg-[#555] rounded-lg appearance-none cursor-pointer accent-[#222]" />
              </div>
            </div>
          </div>
          <!-- Reset Button -->
          <div class="pt-4">
            <button (click)="resetEffects()"
              class="w-full bg-red-500 text-white text-[14px] font-bold py-2 px-4 rounded-lg hover:bg-red-600 cursor-pointer transition-colors">
              Reset All Effects
            </button>
          </div>
          } @else {
          <p class="text-slate-500 text-center">Upload an image to see effect options.</p>
          }
        </div>

        <!-- Settings Tab -->
        <div id="settingsTab" *ngIf="activeTab === 'settings'" class="space-y-6">
          <div class="mb-15">
            <label class="block text-sm font-medium text-slate-600 mb-2">Aspect Ratio</label>
            <div #aspectRatioDropdown>
              <button (click)="isAspectRatioDropdownOpen = !isAspectRatioDropdownOpen"
                class="w-full bg-[#333] cursor-pointer flex items-center justify-between text-[14px] text-white font-bold py-2 px-4 rounded-lg hover:bg-[#444]">
                <span>{{ currentAspectRatioName }}</span>
                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
                </svg>
              </button>
              <div [class.hidden]="!isAspectRatioDropdownOpen"
                class="mt-2 bg-white border border-[#c8c8c8] rounded-lg shadow-sm w-full">
                <ul class="text-[#333]">
                  <li *ngFor="let ratio of aspectRatios; first as isFirst; last as isLast">
                    <button (click)="selectAspectRatio(ratio.value)" [ngClass]="{
                        'rounded-t-lg': isFirst,
                        'rounded-b-lg': isLast,
                        'border-b': !isLast
                      }"
                      class="w-full text-left px-4 text-[14px] py-2 hover:bg-[#f7f7f7] cursor-pointer border-[#c8c8c8]">
                      {{ ratio.name }}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="mt-2">
        <div class="w-full" #downloadDropdownTab>
          <button (click)="isDropdownTabOpen = !isDropdownTabOpen"
            class="w-full bg-[#333] cursor-pointer flex items-center justify-center text-[14px] text-white font-bold py-2 px-4 rounded-lg hover:bg-[#444]"
            type="button">
            Download Image
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>
          <div [class.hidden]="!isDropdownTabOpen"
            class="mt-2 bg-white border border-[#c8c8c8] rounded-lg shadow-sm w-full">
            <ul class="text-sm text-[#666]">
              <li>
                <button (click)="downloadFormat = 'jpg'; downloadImage(); isDropdownTabOpen = false"
                  class="w-full text-center px-4 py-2 hover:bg-[#f7f7f7] cursor-pointer border-b border-[#c8c8c8] rounded-t-lg">JPG</button>
              </li>
              <li>
                <button (click)="downloadFormat = 'png'; downloadImage(); isDropdownTabOpen = false"
                  class="w-full text-center px-4 py-2 hover:bg-[#f6f6f6] cursor-pointer rounded-b-lg">PNG</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    }
  </div>

  <div id="how-to-use" class="w-[80%] mx-auto mt-[100px] mb-[50px] border border-gray-200 p-8 rounded-2xl ">
    <div class="text-center mb-4 mt-6 cursor-default">
      <h2 class="w-full mx-auto text-center text-3xl md:text-5xl font-black tracking-tight leading-tight text-[#444]">
        Edit Your Image in
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-purple-900">4 Simple Steps</span>
      </h2>
    </div>

    <div class="flex justify-between mx-57 relative mb-20">
      <div
        class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10">
        <div class="w-2 h-2 bg-white rounded-full"></div>
      </div>
      <div
        class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10">
        <div class="w-2 h-2 bg-white rounded-full"></div>
      </div>
      <div
        class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10">
        <div class="w-2 h-2 bg-white rounded-full"></div>
      </div>
      <div
        class="text-xl flex items-center justify-center font-extrabold text-white bg-purple-700 w-4 h-4 rounded-full z-10">
        <div class="w-2 h-2 bg-white rounded-full"></div>
      </div>

      <div class="py-[1.5px] rounded-full bg-purple-700 w-full absolute z-1 top-1.5"></div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
      @for (step of steps; track step.title) {
      <div
        class="p-6 py-8 bg-white shadow-sm rounded-2xl border border-gray-100 flex flex-col items-center text-center transition hover:shadow-lg">
        <img [src]="step.Image" alt="Step {{ step.Image }}" class="w-12 h-12 mb-8" />
        <!-- Title -->
        <h3 class="font-bold text-lg text-gray-700 cursor-default">
          {{ step.title }}
        </h3>

        <!-- Description -->
        <p class="text-sm text-gray-400 mt-1 cursor-default">
          {{ step.description }}
        </p>
      </div>
      }
    </div>
  </div>
</div>



<!-- Scroll to top button -->
@if (showScrollTop) {
<button (click)="scrollToTop()"
  class="fixed bottom-8 right-8 hover:mb-1 cursor-pointer p-3 bg-blue-500 hover:bg-purple-600 text-white rounded-full shadow-lg transition-all duration-300 ease-in-out transform hover:scale-110 focus:outline-none z-50"
  aria-label="Scroll to top">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 10l7-7m0 0l7 7m-7-7v18" />
  </svg>
</button>
}