
.scroll-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 50s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  animation-timing-function: linear;
  backface-visibility: hidden;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-track-left {
  display: flex;
  width: max-content;
  animation: scrollRight 35s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  animation-timing-function: linear;
  backface-visibility: hidden;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}


.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #333; /* Dark grey */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}