
.scroll-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 50s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  animation-timing-function: linear;
  backface-visibility: hidden;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-track-left {
  display: flex;
  width: max-content;
  animation: scrollRight 35s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  animation-timing-function: linear;
  backface-visibility: hidden;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
